@charset "UTF-8";
@font-face {
  font-family:'GmarketSansLight';
  src:url("../font/GmarketSansTTFLight.ttf") format('truetype');
}
@font-face {
  font-family:'GmarketSansMedium';
  src:url("../font/GmarketSansTTFMedium.ttf") format('truetype');
}
@font-face {
  font-family:'GmarketSansBold';
  src:url("../font/GmarketSansTTFBold.ttf") format('truetype');
}

body {
  font-family:"GmarketSansMedium";
  font-size:17px;
}

/* main */
main {
  margin-bottom:120px;
}
/* width */
#container {
  padding-top:100px;
  max-width:1200px;
  margin:auto;
  position:relative;
}

/* title */
.title h1 {
  text-align:center;
  font-size:28px;
  margin-bottom:120px;
  font-weight:400;
}

/* category */
.category_wrap {
  padding:15px 15px;
  border-bottom:1px solid #d9d9d9;
  height:60px;
}
.categorys h3 {
  margin-right:80px;
  float:left;
  line-height:30px;
  color:#7B7B7B;
  cursor:default;
}
.mb_slide {
  overflow:visible;
}
.categorys ul {
  float:left;
}
.categorys li {
  display:inline-block;
  margin-right:40px;
  font-weight:400;
  line-height:30px;
}

.categorys li:hover, .categorys li a.active {
  font-family:'GmarketSansBold';
  letter-spacing:-0.07px;  /* 사이즈가 변해도 다른 li들이 밀리지않음. 근데 이래도 되나 */
}
.categorys li a {
  color:#333;
}

/* sel_category */
.sel_category {
  padding:25px 15px 60px 15px;
}
.sel_category li {
  position:relative;
  display:inline-block;
  margin:0 43px 13px 0;
  border-bottom:1.5px solid #48BFF1;
}
.sel_category li a {
  color:#48BFF1;
  vertical-align:middle;
}
  /* cancle_btn */
  .cancle_btn {   
    position:absolute;
    right:-23px;
    top:-1px;
    width:16px;
    height:16px;
    border-radius:100%;
    background:rgba(218,211,211,0.5);
    cursor:pointer;
  }
  .cancle_btn::after, .cancle_btn::before {
    position:absolute;
    top:8px;
    left:3px;
    display:block;
    content:"";
    width:10px;
    height:1px;
    background:#333;
    transform:rotate(45deg);
  }
  .cancle_btn::before {
    transform:rotate(135deg);
  }
/* sort_category */
.sort_wrap {
  position:absolute;
  right:10px;
  top:180px;
}
select {
  width:130px;
  border-radius:5px;
  border:1px solid #747474;
  padding:3px;
}
select:focus {
  outline:none;
}
/* contents */

.contents {   
  display:grid;   /* grid를 사용하면 반응형 웹을 만들기 편함(레이아웃을 따로 수정할 필요가 적어짐) */
  grid-auto-flow:row dense;
  grid-gap:30px 25px;
  grid-template-columns:repeat(3,1fr) ;
}
  /* slider */
  .swiper {
    width: 100%;
    border-bottom:1px rgba(218,211,211,0.3) solid;
    padding-bottom:25px;
    margin-bottom:10px;
  }
  .swiper.hide {
    display:none;
  }
  .swiper-wrapper {
    height: 358px;
    margin-bottom:30px;
  }
  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 99.6%;   
    /* swiper 플러그인은 width를 소수점 제외하고 계산해주기 때문에 미묘한 차이가 발생. grid 때문인지 다른 이유가 있는지는 모르겠음 */
    height: 100%;
    object-fit: cover;
    border-radius:20px;
  }
  .swiper-pagination {
    top:338px !important;
    left:calc(50% - 7px) !important;
  }
  .swiper-pagination-bullet {
    background:rgba(255,255,255,1);
    opacity:0.7;
  }
  .swiper-pagination-bullet-active {
    background:#fff;
    left:0;
    opacity:1;
  }
  .swiper-button-next, .swiper-button-prev {
    top:40%;
    color:#fff;
    width:32px;
    height:32px;
    background:#fff;
    border-radius:100%;
    opacity:0;
    transition:.2s;
  }
  .swiper-wrapper:hover ~ .swiper-button-next, .swiper-wrapper:hover ~ .swiper-button-prev {   /* 형제관계에 hover를 사용할 때는 ~를 사용 */
    opacity:.7;
  }
  .swiper-button-next::after, .swiper-button-prev::after {
    font-size:13px;
    font-weight:bold;
    color:#333;
  }
  .swiper-button-prev:hover, .swiper-button-next:hover {
    transform:scale(1.03);
    opacity:1;
  }
  .swiper-button-disabled {
    display:none;
  }

.content_text {
  padding:0 15px;
  font-weight:300;
  position:relative;
  z-index:200;
}

.content_text p {
  margin-bottom:12px;
  font-family:"GmarketSansLight";
  cursor:default;
}
.content_text .country {
  cursor:pointer;
}
.content_text .distance {
  color:#847E7E;
  font-size:16px;
}
.content_text .hash_tag a{
  color:#47B1FE;
  font-family:'GmarketSansLight';
}
.content_text .hash_tag a:hover {
  font-family:'GmarketSansMedium';
  letter-spacing:-0.07px;
}
.content_text .booking_btn {
  display:none;
}
