@charset "UTF-8";

@media (max-width:1550px){
.cir_ul {
    width: 100%;
    margin-top: 100px;            
}
.cir_li {
    position: relative;        
    width: 170px;
    height: 170px;          
    background: #ccc;
    border-radius: 50%;
}
.sec1 {
    width: 1500px;    
}
}

.sec2 {
    width: 1400px;
}
.sec2_img_left {
    height: 450px;
}
.sec2_img_right {
    height: 450px;
}



@media (max-width:1450px){
.sec1 {
    width: 1300px;
}
.circle {
    width: 1300px;
    margin:auto; 
}
.cir_ul {
    width: 100%;                 
}
.sec2_img_below {
    height: 680px;
}
}






@media (max-width:1200px){
.pc {
    display: none;
}
.mobile {
    display: block;        
    width: 100%;
}
.btn_wrap > button {
    position: absolute;
    width: 20px;
    height: 70px;        
    border-radius: 5px;    
    margin-top: 220px; 
}
.slideBtn1 {
    top: 50px;
    left: 0;
}
.slideBtn2 {
    top: 143px;
    left: 0;
}
.slideBtn3 {
    bottom: 433px;
    left: 0;
    top: 237px;
}
.sec1 {
width: 1000px;
}
.circle {
width: 1000px;
margin:auto; 
}
.cir_ul {
width: 100%;                 
}
.sec_wrap {
position: relative;
}
.sec2 {
    width: 1200px;
    margin: auto;     
}
.sec2_title_wrap {
    margin-top: 100px;
}
.sec2_img_above {
    height: 600px;
}
.sec2_img_left {    
    height: 390px;    
}
.sec2_img_right {
    height: 390px;
}
.sec3 {
    width: 1000px;
    margin: auto;      
}
.sec3_img_wrap {
    width: 100%;    
}
.sec3_above_img2 {
    max-width: 480px;
}
.sec4_wrap {
    max-width: 1100px;
    margin: auto;   
    height: 2200px;
}
.sec4_last_img_wrap {
    max-width: 1100px;
    margin-top: 150px;
}
.sec4_last_img_wrap {
    margin-bottom: 200px;
}
}






@media (max-width:1000px){
.cir_li {
    border-radius: 30px;
    width: 130px;
    height: 130px;
}
.sec1 {
    width: 800px;
    margin-top: 80px;
}
.circle {
    width: 800px;
    margin:auto; 
}
.cir_ul {
    width: 100%;                 
}
.sec2 {
    width: 800px;
    margin: auto;     
}
.sec2_title_wrap {
    margin-top: 100px;
}
.sec2_img_above {
    height: 600px;
}
.sec2_img_left {    
    height: 250px;    
}
.sec2_img_right {
    height: 250px;
}
.sec2_img_below_wrap {
    width: 530px;
    margin: auto;    
}
.sec2_img_below {
    width: 100%;    
}
.sec3 {
    width: 800px;
    margin: auto;
}
.sec3_title {
    margin-top: 70px;
}
.sec3_img_wrap {
    width: 700px;
    margin: auto;
    margin-top: 50px;
}
.sec4_box {
    background-color: #ccc;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sec4_wrap {
    height: 2200px;
}
.sec4_last_img_wrap {
    margin-top: 350px;
}
.sec4_last_img_wrap {
    margin-bottom: 200px;
}
.sec4_info {
    width: 800px;
    top: 100px;
    margin: auto;
}
.sec4_info2 {
    width: 800px;
    margin-top: 100px;
}
.sec4_txt2  {
    position: relative;
}
.sec4_txt2 > h3 {
    font-style: 20px;
    margin-bottom: 20px;
}
.sec4_txt2 > p {    
    font-size: 14px;
    line-height: 18px;
}
.sec4_plus {
    flex-direction: column;
    width: 100%;
    top: 250px;
}
.sec4_plus > p {
    margin: 5px;
    padding: 3px 0;
    width: 100%;
}
}









@media (max-width:800px){
    .img-inner {
        height:40vh;
    }
    .sec1 {
        width: 650px;        
        line-height: 20px;
    }
.circle {
    width: 700px;
    margin:auto; 
}
.cir_ul {
    width: 90%;
    display: block;
}
.cir_li {
    border-radius: 30px;
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    background: none;
}
.sec2 {
    max-width: 700px;
    margin: auto;     
}
.sec2_img_left {   
    flex: none;
    width: 100%; 
}
.sec2_txt_left {
    margin-top: -80px;
}
.sec2_txt_right {
    margin-top: -40px;
}
.sec2_img_right {
    text-align: center;
    flex: none;    
    width: 100%;
    margin-left: -630px;
    margin-top: 501px;
}
.sec2_img_right > p {
    width: 550px;
    line-height: 23px;
}
.sec2_img_below_wrap {
    width: 560px;
    margin: auto;  
    margin-top: 400px;
    
}
.sec2_img_below {
    width: 100%;  
    
}
.sec3 {
    width: 600px;
    margin: auto;
    padding-top: 300px;
}
.sec3_txt_p {
    width: 397px;
    margin: auto;
    margin-bottom: 80px;
}
.sec3_above_img1 {
    width: 100%;
    margin-bottom: 100px;
}
.sec3_above_img2 {    
    max-width: 600px;
    margin: auto;
}
.sec3_img_wrap {
    display: inline;
    width: 450px;
    margin: auto;
    margin-top: 50px;
}
.sec3_below_img_wrap {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    flex-direction: column;
    height: 800px;
}
.sec3_below_img1 {
    width: 100%;
}
.sec3_below_img2 {
    width: 100%;
    margin-top: 50px;
    margin-left:0;
}
.sec3_below_txt_p {
    width:100%;
    margin: auto;
}
.sec3_below_txt_p2 {
    width:100%;
    margin: auto;
}
.sec4_wrap {
    width: 650px;
    margin: auto;   
    height: 2000px;
    margin-top: 100px;
}
.sec4_title {
    font-size: 25px;
    text-align: center;
}
.sec4_box {
    background: none;
}
.sec4_ul {
    overflow: hidden;
    width: 550px;
    margin: auto;
    display: inline;
}
.sec4_li {
    margin:0 10px 30px 10px;
}
.sec4_last_img_wrap {
    width: 650px;
}
.sec4_last_img_wrap {
    margin-bottom: 200px;
}
.sec4_info {
    width: 620px;    
    margin: auto;
    border: none;
}
.sec4-txt {
    width: 50%;    
    padding: 0;
    line-height: 18px;
    padding-top: 30px;
    padding: 20px 15px;
}
.sec4_txt > h3 {
    font-style: 14px;
    margin-bottom: 10px;
}
.sec4-txt > p {    
    line-height: 17px;
    font-size: 13px;
}
.sec4_txt2 > h3 {
    font-style: 14px;
    margin-bottom: 10px;
}
.sec4_txt2 > p {    
    line-height: 17px;
    font-size: 13px;
}
.sce4_img > img {
    border-radius: 15px;
}
.sec4_info2 {
    width:620px;
    margin:auto;
    top: 210px;
}
.sec4_txt2  {
    width: 50%;
    padding: 10px 10px;
}
.sec4_img2  {
    width: 50%;
}
.sec4_plus {
    top: 200px;
    margin-right: 41px;
    width: 280px;
    margin: 15px;
}
.sec4_last_img_wrap {
    display: none;
}
footer {
    margin-top: 100px;
}
}








@media (max-width:700px){
.sec1_txt {
    width: 100%;
    font-size: 12px;
    margin: auto;        
}
.btn_wrap > button {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px; 
    margin-top:120px;
}
.slideBtn1 {
    bottom: 70%;
line-height: 20px;
}
.slideBtn2 {
    top: 10%;
    line-height: 20px;
}
.slideBtn3 {
    top: 130px;
    left: 0;
    line-height: 20px;
}
.circle {
    width: 600px;
    margin:auto; 
}
.cir_ul {
    width: 90%;
    display: block;
}
.sec_wrap {        
    width: 100%;
    margin: auto;
    margin-top: 0px;
}
.sec1 > p  {
    margin: auto;
    width: 500px;    
    line-height: 25px;    
}
.sec1 {
    width: 100%;
}
.sec2_img_below_wrap {
    margin-top: 100px;
}
.sec4_wrap {
    width: 600px;
}
.sec4_ul {
    display: inline;
}
.sec4_li {
    margin-bottom: 30px;
}
.sec4_info {
    display: inline-block;
    width: 100%;
}
.sec4-txt {
    width: 100%;
    margin-bottom: 50px;
}
.sce4_img {
    width: 100%;
}
.sec4_info2 {
    display: inline-block;
    width: 100%;
}
.sec4_txt2 {
    width: 100%;
    margin-bottom: 50px;
}
.sec4_info2 >.sec4_img2 {
    width: 100%;
    
}
.sec4_plus {
    width: 100%;
    margin-bottom: 100px;
}
footer {
    margin-top: 800px;
}
}


@media (max-width:500px) {
    .circle {
        width: 390px;
        margin:auto;         
    }
    .cir_ul {
        width: 100%;        
    }
    .sec1 > p  {
        font-size: 14px;
        width: 400px;    
        line-height: 25px;        
    }
    .sec_wrap  {
    }
    .slideBtn2 {top: 30px;}
    .slideBtn1 {top: 0px;}
    .slideBtn3 {top: 60px;}
    .cir_li {        
        border: none;
        background: #BB2649;
    }
    .cir_li > a {
        color:#fff;
    }
    .cir_li > a:hover {
        color: #000;
    }
    .sec2 {
        width: 400px;
        margin: auto;
    }
    .sec2_img_left {           
        height: 240px;
    }
    .sec2_txt_left {
        margin-top: 0px;
    }
    .sec2_txt_right {
        margin-top: 35px;
    }
    .sec2_img_right {
        margin-left: -360px;
        margin-top: 370px;
        width: 100%;        
        height: 240px;        
    }
    .sec2_img_right > p {
        width: 350px;
    }
    .sec2_img_below_wrap {
        width: 560px;
        margin: auto;    
    }
    .sec2_img_below {    
        width: 360px;
        margin-left: 3px;
        margin-top: 157px;
        }
        
    .sec2_img_below > img {
        border-radius: 15px;
    }
    .sec2_txt_below {
        margin-top: 0;
    margin-left: -200px;
    }
    .sec3 {
        width: 400px;
        margin: auto;
        padding-top: 0;
    }
    .sec3_img_wrap {
        overflow: hidden;
        width: 380px;
    }
    .sec3_title {
        line-height: 50px;
    }
    .sec3_above_img1 {width: 180px;}
    .sec3_above_img2 {width: 180px;}
    .sec4_wrap {
        width: 350px;
        margin: auto;
    }
    .sec4_title {
        font-size: 28px;
        line-height: 40px;
    }
    .sec4_info {
        background: none;
    }
    .sec4_info2 {
        margin-bottom: 100px;
    }
    footer {
        margin-top: 600px;
    }
}
